[submodule "lib/fancyqr"]
	path = lib/fancyqr
	url = https://github.com/EagleoutIce/fancyqr.git
[submodule "lib/lithie-util"]
	path = lib/lithie-util
	url = https://github.com/EagleoutIce/lithie-util.git
[submodule "lib/sopra-collection"]
	path = lib/sopra-collection
	url = https://github.com/EagleoutIce/sopra-collection.git
[submodule "lib/color-palettes"]
	path = lib/color-palettes
	url = https://github.com/EagleoutIce/color-palettes.git
[submodule "lib/beamer-themes"]
	path = lib/beamer-themes
	url = https://github.com/EagleoutIce/beamer-themes.git
